$color-space: #4834d4;
$color-dark: #1b1b1b;

$color-purple: #b217ff;

$color-light: #e9e8e8;

$color-white: #ffffff;
$color-black: #000000;
$color-grey: #646464;
$color-green: #32ff7e;
$color-green-dark: #2ebb62;
$color-green-transparent: #32ff7dda;
$color-red: #ff3838;
$color-red-transparent: #ff3838de;
$color-red-dark: #b81111;

$color-table: rgba(255, 255, 255, 0.3);

$space-background: linear-gradient(
  to right top,
  #5c196b,
  #64147d,
  #6b0f91,
  #7008a5,
  #7302bb,
  #6314ba,
  #511db8,
  #3d23b6,
  #172698,
  #002479,
  #001e58,
  #011638
);
$dark-background: linear-gradient(
  to right top,
  #1b1b1b,
  #1f1f1f,
  #232323,
  #272727,
  #2b2b2b
);
$light-background: linear-gradient(
  to right bottom,
  #ffffff,
  #fdfdfd,
  #fbfafa,
  #f9f8f8,
  #f6f6f5
);
$matrix-background: #0a0a0a;

$shadow: 0 1rem 2rem rgba($color-black, 0.2);

$font: 'Mukta', sans-serif;
$font-matrix: 'Wallpoet', cursive;

$color-sdd: #32ff7d46;
$color-dsd: #691692;

// #845EC2
// #D65DB1
// #FF6F91
// #FF9671
// #FFC75F
// #F9F871
